
.notification {
  position: relative;
  padding: 0 0 0 64px;
  border-top: 1px solid #ddd;
}

.notification:last-child {
  border-bottom: 1px solid #ddd;
}

.notification .title {
  display: block;
  font-size: 14px;
  line-height: 45px;
  font-weight: bold;
}

.notificationBody {
  min-height: 70px;
}

.notificationBody.alert {
  border-right: 10px solid #f99;
}

.notificationBody.recover {
  border-right: 10px solid #b3e586;
}

.title.alert > span {
  width: 220px;
  display: inline-block;
  line-height: 20px;
  text-align: center;
  background:  #fdd;
}

.notificationFooter {
  height: 15px;
}

.serviceImg {
  position: absolute;
  left: 0;
  top: 2px;
  width: 48px;
  height: 48px;
}

.info {
  display: block;
  font-size: 12px;
}
